EXPO_PUBLIC_API_URL="http://192.168.15.4:3000"

# Login com Google nativo:
# - Crie um OAuth Client ID do tipo Web Application e coloque aqui.
# - O Android OAuth Client ID ainda precisa existir no Google Cloud com package + SHA-1,
#   mas o app usa o Web Client ID para receber o idToken.
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID="711629504469-4k9ig2cvtm141pt4r8n6vf976t0gsl29.apps.googleusercontent.com"
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=""
